In [3]:
import pandas as pd

In [81]:
# veri seti okunur
df = pd.read_csv("outputCSV.csv")
df.drop("Unnamed: 0", axis = 1, inplace = True)

In [82]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1.350.000 TL,İstanbul,Beylikdüzü,Cuhuriyet,Satılık,Daire,3 + 1,150 m2,140 m2,Ara Kat,1 Yaşında,Eşyalı Değil,1,Betonarme,Evet (Site Adı Belirtilmemiş),Doğalgaz
1,22.000.000 TL,İstanbul,Beşiktaş,Etiler,Satılık,Daire,5 + 1,284 m2,256 m2,4. Kat,14 Yaşında,Eşyalı Değil,3,Betonarme,Badur Boğaziçi Evleri Sitesi,Doğalgaz
2,3.950.000 TL,İstanbul,Maltepe,Feyzullah,Satılık,Daire,3 + 1,165 m2,145 m2,1. Kat,28 Yaşında,Eşyalı Değil,1,Betonarme,Adatepe Sitesi,Doğalgaz
3,50.400.000 TL,İstanbul,Beşiktaş,Levazı,Satılık,Residence,4 + 1,420 m2,350 m2,Bahçe Katı,2 Yaşında,Eşyalı Değil,4,Betonarme,yooistanbul,Doğalgaz
4,4.300.000 TL,İstanbul,Büyükçekece,Ekinoba,Satılık,Daire,3 + 1,160 m2,116 m2,1. Kat,2 Yaşında,Eşyalı,2,Betonarme,Evet (Site Adı Belirtilmemiş),Doğalgaz

In [83]:
# kolon isimleri adlandirilir
df_2 = df.rename(columns = {"0":"fiyat",
                     "1":"il",
                     "2":"ilce",
                     "3":"mahalle",
                     "4":"ilan_durumu",
                     "5":"konut",
                     "6":"oda_sayisi",
                     "7":"net_mt",
                     "8":"brut_mt",
                     "9":"dairenin_katı",
                     "10":"yas",
                     "11":"esya_durumu",
                     "12":"banyo_sayisi",
                     "13":"yapi_tipi",
                     "14":"site_icerisinde",
                     "15":"yakit_tipi"})

In [84]:
df_2.head()

,fiyat,il,ilce,mahalle,ilan_durumu,konut,oda_sayisi,net_mt,brut_mt,dairenin_katı,yas,esya_durumu,banyo_sayisi,yapi_tipi,site_icerisinde,yakit_tipi
0,1.350.000 TL,İstanbul,Beylikdüzü,Cuhuriyet,Satılık,Daire,3 + 1,150 m2,140 m2,Ara Kat,1 Yaşında,Eşyalı Değil,1,Betonarme,Evet (Site Adı Belirtilmemiş),Doğalgaz
1,22.000.000 TL,İstanbul,Beşiktaş,Etiler,Satılık,Daire,5 + 1,284 m2,256 m2,4. Kat,14 Yaşında,Eşyalı Değil,3,Betonarme,Badur Boğaziçi Evleri Sitesi,Doğalgaz
2,3.950.000 TL,İstanbul,Maltepe,Feyzullah,Satılık,Daire,3 + 1,165 m2,145 m2,1. Kat,28 Yaşında,Eşyalı Değil,1,Betonarme,Adatepe Sitesi,Doğalgaz
3,50.400.000 TL,İstanbul,Beşiktaş,Levazı,Satılık,Residence,4 + 1,420 m2,350 m2,Bahçe Katı,2 Yaşında,Eşyalı Değil,4,Betonarme,yooistanbul,Doğalgaz
4,4.300.000 TL,İstanbul,Büyükçekece,Ekinoba,Satılık,Daire,3 + 1,160 m2,116 m2,1. Kat,2 Yaşında,Eşyalı,2,Betonarme,Evet (Site Adı Belirtilmemiş),Doğalgaz

In [85]:
df_2.columns

Index(['fiyat', 'il', 'ilce', 'mahalle', 'ilan_durumu', 'konut', 'oda_sayisi',
       'net_mt', 'brut_mt', 'dairenin_katı', 'yas', 'esya_durumu',
       'banyo_sayisi', 'yapi_tipi', 'site_icerisinde', 'yakit_tipi'],
      dtype='object')

In [86]:
# veriler duzenlenir
df_2.loc[df_2.dairenin_katı == "Kot 3", "dairenin_katı"] = "-3"

In [87]:
df_2.site_icerisinde.value_counts()

Evet (Site Adı Belirtilmemiş)    322
Avangart İstanbul Rezidans         9
Ağaoğlu Maslak 1453                8
Evet (Site Adı Belir               6
MASHATTAN                          6
                                ...
2001 Çengelköy konutları           1
Cadde Life                         1
Çağdaş Cem Kent Sitesi             1
1istanbul Ispartakule Evleri       1
Toya Next Rezidans                 1
Name: site_icerisinde, Length: 745, dtype: int64

In [106]:
df_2.head()

,fiyat,il,ilce,konut,oda_sayisi,net_mt,brut_mt,dairenin_katı,yas,esya_durumu,banyo_sayisi,yapi_tipi,site_icerisinde,yakit_tipi
0,1.350.000 TL,İstanbul,Beylikdüzü,Daire,3 + 1,150,140,Ara Kat,1 Yaşında,Eşyalı Değil,1,Betonarme,Evet (Site Adı Belirtilmemiş),Doğalgaz
1,22.000.000 TL,İstanbul,Beşiktaş,Daire,5 + 1,284,256,4. Kat,14 Yaşında,Eşyalı Değil,3,Betonarme,Badur Boğaziçi Evleri Sitesi,Doğalgaz
2,3.950.000 TL,İstanbul,Maltepe,Daire,3 + 1,165,145,1. Kat,28 Yaşında,Eşyalı Değil,1,Betonarme,Adatepe Sitesi,Doğalgaz
3,50.400.000 TL,İstanbul,Beşiktaş,Residence,4 + 1,420,350,Bahçe Katı,2 Yaşında,Eşyalı Değil,4,Betonarme,yooistanbul,Doğalgaz
4,4.300.000 TL,İstanbul,Büyükçekece,Daire,3 + 1,160,116,1. Kat,2 Yaşında,Eşyalı,2,Betonarme,Evet (Site Adı Belirtilmemiş),Doğalgaz

In [115]:
df_2.drop("site_icerisinde", axis = 1, inplace = True)
df_2.to_excel("yeni.xlsx")

In [116]:
df_2.head()

,fiyat,il,ilce,konut,oda_sayisi,net_mt,brut_mt,dairenin_katı,yas,esya_durumu,banyo_sayisi,yapi_tipi,yakit_tipi
0,1.350.000 TL,İstanbul,Beylikdüzü,Daire,3 + 1,150,140,Ara Kat,1 Yaşında,Eşyalı Değil,1,Betonarme,Doğalgaz
1,22.000.000 TL,İstanbul,Beşiktaş,Daire,5 + 1,284,256,4. Kat,14 Yaşında,Eşyalı Değil,3,Betonarme,Doğalgaz
2,3.950.000 TL,İstanbul,Maltepe,Daire,3 + 1,165,145,1. Kat,28 Yaşında,Eşyalı Değil,1,Betonarme,Doğalgaz
3,50.400.000 TL,İstanbul,Beşiktaş,Residence,4 + 1,420,350,Bahçe Katı,2 Yaşında,Eşyalı Değil,4,Betonarme,Doğalgaz
4,4.300.000 TL,İstanbul,Büyükçekece,Daire,3 + 1,160,116,1. Kat,2 Yaşında,Eşyalı,2,Betonarme,Doğalgaz

In [89]:
#Df setimizde boş değer var mı kontrolü
df.columns[df.isnull().any()]

Index([], dtype='object')

In [117]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()

In [118]:
df_2.columns

Index(['fiyat', 'il', 'ilce', 'konut', 'oda_sayisi', 'net_mt', 'brut_mt',
       'dairenin_katı', 'yas', 'esya_durumu', 'banyo_sayisi', 'yapi_tipi',
       'yakit_tipi'],
      dtype='object')

In [119]:
df = pd.read_excel("yeni.xlsx")
df.drop("Unnamed: 0", axis = 1, inplace = True)
df_2 = df.copy()
df_3 = df.copy()

In [120]:
df_3.head()

,fiyat,il,ilce,konut,oda_sayisi,net_mt,brut_mt,dairenin_katı,yas,esya_durumu,banyo_sayisi,yapi_tipi,yakit_tipi
0,1.350.000 TL,İstanbul,Beylikdüzü,Daire,3 + 1,150.0,140,Ara Kat,1 Yaşında,Eşyalı Değil,1,Betonarme,Doğalgaz
1,22.000.000 TL,İstanbul,Beşiktaş,Daire,5 + 1,284.0,256,4. Kat,14 Yaşında,Eşyalı Değil,3,Betonarme,Doğalgaz
2,3.950.000 TL,İstanbul,Maltepe,Daire,3 + 1,165.0,145,1. Kat,28 Yaşında,Eşyalı Değil,1,Betonarme,Doğalgaz
3,50.400.000 TL,İstanbul,Beşiktaş,Residence,4 + 1,420.0,350,Bahçe Katı,2 Yaşında,Eşyalı Değil,4,Betonarme,Doğalgaz
4,4.300.000 TL,İstanbul,Büyükçekece,Daire,3 + 1,160.0,116,1. Kat,2 Yaşında,Eşyalı,2,Betonarme,Doğalgaz

In [121]:
df_3["ilce"] = le.fit_transform(df_2.ilce)

In [122]:
le.classes_

array(['Adalar', 'Arnavutköy', 'Ataşehir', 'Avcılar', 'Bahçelievler',
       'Bakırköy', 'Bayrapaşa', 'Bağcılar', 'Başakşehir', 'Beykoz',
       'Beylikdüzü', 'Beyoğlu', 'Beşiktaş', 'Büyükçekece', 'Esenler',
       'Esenyurt', 'Eyüpsultan', 'Fatih', 'Gaziosanpaşa', 'Güngören',
       'Kadıköy', 'Kartal', 'Kağıthane', 'Küçükçekece', 'Maltepe',
       'Pendik', 'Sancaktepe', 'Sarıyer', 'Silivri', 'Sultanbeyli',
       'Sultangazi', 'Tuzla', 'Zeytinburnu', 'Çatalca', 'Çekeköy',
       'Üraniye', 'Üsküdar', 'Şişli'], dtype=object)

In [123]:
df_3.ilce.unique()

array([10, 12, 24, 13, 19,  5, 27,  8, 15, 32, 23, 37, 31, 20, 16,  4, 25,
       28, 34,  7,  2, 35, 36, 22, 21, 18,  9, 26, 11,  3, 17, 14,  1, 30,
       33, 29,  6,  0])

In [124]:
le.inverse_transform([1])

array(['Arnavutköy'], dtype=object)

Veri işlemede string değerler sayısal değerlere dönüştürülüyor

In [126]:
df_3["konut"] = le.fit_transform(df_2.konut)

In [127]:
df_3["oda_sayisi"] = le.fit_transform(df_2.oda_sayisi)

In [129]:
df_3["dairenin_katı"] = le.fit_transform(df_2.dairenin_katı)

In [130]:
df_3["yas"] = le.fit_transform(df_2.yas)

In [131]:
df_3["esya_durumu"] = le.fit_transform(df_2.esya_durumu)

In [132]:
df_3["yapi_tipi"] = le.fit_transform(df_2.yapi_tipi)

In [133]:
df_3["yakit_tipi"] = le.fit_transform(df_2.yakit_tipi)

In [134]:
df_3.to_excel("yeni3.xlsx")

In [258]:
df_3.head()

,fiyat,ilce,konut,oda_sayisi,net_mt,brut_mt,dairenin_katı,yas,esya_durumu,banyo_sayisi,yapi_tipi,yakit_tipi
0,1350000,10,0,5,150,140,14,0,1,1,1,1
1,22000000,12,0,10,284,256,8,5,1,3,1,1
2,3950000,24,0,5,165,145,3,20,1,1,1,1
3,50400000,12,1,7,420,350,16,11,1,4,1,1
4,4300000,13,0,5,160,116,3,11,0,2,1,1

In [260]:
df_3["banyo_sayisi"] = le.fit_transform(df_2.banyo_sayisi)

In [222]:
# hatali kisim duzelttik
df_3["fiyat"] = df_3["fiyat"].astype("int64")

In [261]:

df_3.head()

,fiyat,ilce,konut,oda_sayisi,net_mt,brut_mt,dairenin_katı,yas,esya_durumu,banyo_sayisi,yapi_tipi,yakit_tipi
0,1350000,10,0,5,150,140,14,0,1,0,1,1
1,22000000,12,0,10,284,256,8,5,1,2,1,1
2,3950000,24,0,5,165,145,3,20,1,0,1,1
3,50400000,12,1,7,420,350,16,11,1,3,1,1
4,4300000,13,0,5,160,116,3,11,0,1,1,1

In [262]:
df_3.to_excel("yeni3.xlsx")